.home {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    min-height: 100vh;

    .layer {
        position: absolute;
        height: 100%;
        width: 100%;
        background: var(--layer);
        top: 0;
        bottom: 0;
        z-index: 1;
        mix-blend-mode: hard-light;
    }

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
    }

    .homeContent {
        width: 100%;
        height: max-content;
        padding: 6rem 1.5rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: white;
        z-index: 100;

        .textDiv {
            padding: 2rem 0;

            .smallText {
                font-size: 13px;
                text-transform: uppercase;
            }

            .homeTitle {
                position: relative;
                font-size: 1.8rem;
            }
        }

        .cardDiv {
            position: relative;
            padding: 2rem 1rem;
            background: var(--bgtransparent);
            border-radius: 10px;
            gap: 1rem;

            label {
                display: block;
                color: var(--blackColor);
                padding-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
            }

            .input {
                height: 40px;
                padding: 0 1rem;
                background: var(--inputColor);
                border-radius: 3rem;

                input, select {
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-size: 13px;
                    font-weight: 500;
                    color: var(--blackColor);
                    
                    &::placeholder {
                        font-size: 13px;
                        color: var(--placeH);
                    }
                }

                select {
                    cursor: pointer;
                }

                option {
                    background-color: var(--whiteColor);
                    color: var(--blackColor);
                }

                .icon {
                    font-size: 18px;
                    color: var(--SecondaryColor) !important;
                    margin-left: 10px;
                }
            }

            .searchOptions {
                position: absolute;
                background: var(--gradientColor);
                width: 200px;
                bottom: -0.7rem;
                column-gap: .8rem;
                padding: 5px 1rem;
                border-radius: 3rem;
                left: 50%;
                transform: translate(-50%);
                justify-content: center;
                cursor: pointer;
                color: var(--whiteColor);

                &:hover {
                    background: var(--SecondaryColor);
                }

                .icon {
                    font-size: 18px;
                }

                span {
                    font-size: 13px;
                }
            }
        }
    }
}

// =============== MEDIA QUERIES ==============

@media screen and (min-width: 500px) {
    .home {
        .homeContent {
            .textDiv {
                .smallText {
                    font-size: 16px;
                }

                .homeTitle {
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;
                }
            }

            .cardDiv {
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}

@media screen and (min-width: 660px) {
    .home {
        .homeContent {
            .cardDiv {
                padding: 2rem 1rem;
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}

@media screen and (min-width: 940px) {
    .home {
        height: 85vh;
    }
}

@media screen and (min-width: 1240px) {
    .home {
        height: 80vh;

        .homeContent {
            padding-left: 0;
            padding-right: 0;

            .cardDiv {
                padding: 2rem 1rem;
                grid-template-columns: repeat(3,1fr);
                .input {
                    margin-bottom: 1rem;
                }

                .searchOptions {
                    bottom: -1rem;
                    padding: 8px 1rem;

                    span {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}